/* -------- HEADER / NAV -------- */
header, .header-form, .header-admin {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #BF8049;
    padding: 15px 75px;
    color: white;
    white-space: nowrap;
    
}
.header .nombre{
font-family:  'Alan Sans', sans-serif;
font-weight: 700;
}
.nav {
    justify-content: space-evenly;
    flex:0.9;
    display: flex;
    align-items: center;
}
.nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    padding: 0;
    margin:0 auto;
}
.nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.nav-cart-title a:hover {
  background: white;
  color: #BF8049;
}

/* -------- FOOTER -------- */
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #BF8049;
  color: #fff;
  padding: 25px 10px;
  gap: 20px;
  flex-wrap: wrap;
  flex-shrink: 0;
  bottom: 0;
  width: 100%;
}

.footer-section {
  width: 30%;
  min-width: 200px;
  text-align: center;
}

.footer-section img {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

/* -------- Carrito -------- */
#carrito {
    display: block !important;               
    position: fixed;
    top: 20px;                    
    right: 20px;                  
    width: 300px;                 
    max-height: 400px;
    padding: 15px;
    background-color: #BF8049;
    border: 1px solid #ccc;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    color:#fff;
}

#carrito ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#carrito ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid #eee;
}
#carrito h5 {
    display: flex;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
}

#carrito ul li button {
    border: none;
    background: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}